@import 'node_modules/@bbva-web-components/bbva-foundations-sass/main';

:host {
  display: block;
  box-sizing: border-box;
  --bgcolor-hover: #1464a5;
  --field-bg-color: #f4f4f4;
  --field-input-color: #121212;
  --field-border-color: #666;
  --field-focused-border-color: #121212;
  --invalid-field-bg-color: #fcdfdf;
  --invalid-field-input-color: #b92a45;
  --invalid-field-border-color: #d44b50;
  --invalid-field-label-color: #b92a45;
  --invalid-field-clear-color: #b92a45;
  --bg-mask-select: #072146;
}

:host([hidden]),
[hidden] {
  display: none !important;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.container-input {
  width: 100%;
  position: relative;
}

bbva-form-field {
  input {
    cursor: pointer;
  }
}

.option {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  font-size: 0.9375rem;
  line-height: 1.5rem;
  font-weight: 400;
  font-style: normal;
  color: #121212;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  height: 48px;
  padding: 15px;
  transition: all 0.15s ease;
  list-style-position: inside;
  background-color: #fff;
  justify-content: space-between;
}

.option cells-icon {
  display: none;
}

.option:hover {
  background-color: var(--bgcolor-hover);
  color: #fff;

  cells-icon {
    display: inline-flex;
  }
}

.hover {
  background-color: var(--bgcolor-hover);
  color: #fff;
}

.hover cells-icon {
  display: inline-flex;
}

.active {
  background-color: var(--bgcolor-hover);
  color: #fff;
}

.active cells-icon {
  display: inline-flex;
}

.list-options {
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: height 0.1s ease-in-out;
  position: absolute;
  top: 48;
  left: 0;
  z-index: 300;
}

.list {
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 290px;
  width: 100%;
}

.list-options-show {
  height: auto;
  box-shadow: 0px 1px 0px 1px rgba($color: #ccc, $alpha: 1);
}

.input-search {
  background-color: #f4f4f4;
  width: 100%;
  outline: none;
  padding: 10px 15px;
  font-size: 0.9375rem;
  line-height: 1.5rem;
  font-style: normal;
  border: none;
  color: #666;
  border-bottom: 1px solid #666;
  padding-right: 35px;
}

.icon-expand {
  position: absolute;
  top: 13px;
  right: 13px;
  z-index: 1;
  cursor: pointer;
  color: #1973b8;
}

.hide {
  display: none !important;
}

.mask-select {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--bg-mask-select);
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
  z-index: 10;
}

.mask-select-show {
  display: none;
}

.input-hide {
  position: absolute;
  width: 100%;
  height: 48px;
  border: none;
}

@media only screen and (max-width: 480px) {
  .mask-select-show {
    display: block;
    opacity: 0.95;
  }

  .list-options-show {
    box-shadow: none;
  }
}

.icon-search-select {
  position: absolute;
  top: 13px;
  right: 12px;
  z-index: 10;
  color: var(--bgcolor-hover);
}

.content-select {
  position: relative;
}

.select-mask-loading {
  height: 48px;
  background-color: #f4f4f4;
  position: absolute;
  top: 5;
  left: 0;

  width: 100%;
  z-index: 50;
  opacity: 0.5;
}

@keyframes lds-rolling {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@-webkit-keyframes lds-rolling {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.lds-rolling {
  position: absolute;
  z-index: 1000;
  top: 8px;
  left: calc(50% - 25px);
}
.lds-rolling div,
.lds-rolling div:after {
  position: absolute;
  width: 110px;
  height: 110px;
  border: 10px solid var(--bgcolor-hover);
  border-top-color: transparent;
  border-radius: 50%;
}
.lds-rolling div {
  -webkit-animation: lds-rolling 1s linear infinite;
  animation: lds-rolling 1s linear infinite;
  top: 100px;
  left: 100px;
}
.lds-rolling div:after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.lds-rolling {
  width: 30px !important;
  height: 30px !important;
  -webkit-transform: translate(-20px, -20px) scale(0.2) translate(20px, 20px);
  transform: translate(-20px, -20px) scale(0.2) translate(20px, 20px);
}

.select-mask-loading-hide {
  display: none;
}

.form-input {
  --_field-bg-color: var(--field-bg-color);
  --_field-input-color: var(--field-input-color);
  --_field-readonly-input-color: var(--field-input-color);
  --_field-readonly-label-color: var(--field-input-color);
  --_field-border-color: var(--field-border-color);
  --_field-focused-border-color: var(--field-focused-border-color);
}

.invalid {
  --_field-bg-color: var(--invalid-field-bg-color);
  --_field-input-color: var(--invalid-field-input-color);
  --_field-readonly-input-color: var(--invalid-field-input-color);
  --_field-readonly-label-color: var(--invalid-field-input-color);
  --_field-border-color: var(--invalid-field-border-color);
  --_field-focused-border-color: var(--invalid-field-border-color);
}
